<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js test</title>
</head>
<body>
    <div id="app">
        <p>{{{mess2}}}</p>
        <p v-if="greeting">{{message}}</p>
        <input v-model="mess2">
        <ul>
            <li v-for="todo in todos">
                {{todo.text}}
                <button v-on:click="removeTodo($index)">X</button>
            </li>
        </ul>
        <button v-on:click="reverseMessage">{{message}}</button><br/>
        <input v-model="newTodo" v-on:keyup.enter='addTodo'>
        <p class="img1">a={{a}},b={{b}}</p>
        <p class="img2">wwwsss</p>
        <img src="../img/yellowKill.jpg" alt="小黄杀">
        <div class="img3"></div>
    </div>
</body>
</html>
