* {
    margin: 0 auto;
}
p {
    color: burlywood;
    font-size: 24px;
}
.img1 {
    background: url("../img/test.png") no-repeat;
}
.img2 {
    background: url("../img/yellowKill.jpg") no-repeat;
}
